{% extends 'base.html' %}

{% load static %}<!doctype html> 

{% block breadcrumb %} 

<html lang="en">
<head>
      <meta charset="UFT-8">
      <meta name="viewport"
         content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0 minimum-scale=1.0">
      <meta http-quiv="X-UA-Compatible" content="ie=edge">
      <title>Documento</title>
</head>

<body>
     <form method="POST">
        <h2> Se modificó correctamente, vuelva a iniciar sesión. </h2>
        <h2>si ha modificado su contraseña, ingrese nueva contraseña</h2>
        <h2>si no ha modificado su contraseña, ingrese antigua contraseña</h2>
    </form>
</body>
</html>

      
{% endblock %}   


