{% extends 'base.html' %}

{% load static %}

{% block title %}Restablecer su contraseña{% endblock %}

{% block body %}

  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Restablecer su contraseña</h3>
          <p>Ingrese su dirección de correo electrónico y le enviaremos un enlace para restablecer su contraseña.</p>
          <form method="post" novalidate>
            {% csrf_token %}
             {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-block">Enviar contraseña y restablecer correo electrónico</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}