Bienvenido,

Alguien pidió un restablecimiento de contraseña para la dirección de correo electrónico {{ email }}.
Siga el siguiente enlace:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

En caso de que hayas olvidado tu nombre de usuario de Linkapet: {{ user.username }}

Si hace clic en el enlace anterior y no funciona, copie y pegue la URL
en una nueva ventana del navegador en su lugar.

Si recibió este correo por error, es probable que otro usuario haya ingresado su dirección 
de correo electrónico por error al intentar restablecer una contraseña. 
Si no inició la solicitud, no necesita realizar ninguna otra acción 
y puede ignorar este correo electrónico de forma segura.


Gracias,

LinkaPet Team.