{% extends 'base.html' %}

{% block title %}
  {% if validlink %}
    Cambiar contraseña para {{ form.user.username }}
  {% else %}
    Restablecer su contraseña
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
          {% if validlink %}
            <h3 class="card-title">Cambiar contraseña para @{{ form.user.username }}</h3>
            <form method="post" novalidate>
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-success btn-block">Cambiar contraseña</button>
            </form>
          {% else %}
            <h3 class="card-title">Restablecer su contraseña</h3>
            <div class="alert alert-danger" role="alert">
              Parece que hiciste clic en un enlace de restablecimiento de contraseña no válido. Inténtalo de nuevo.
            </div>
            <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">Solicitar un nuevo enlace de restablecimiento de contraseña</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}