{% extends 'base.html' %}

{% block body %}

 <div class="container">
 <h1 class="text-center logo my-4">
   <a href="{% url 'home' %}">Registrate</a>
 </h1>
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Registro</h3>
            <form method="post" novalidate>
              {% csrf_token %}

             {{ form.as_p }} 
            <button type="submit" class="btn btn-primary btn-block">Crear una cuenta</button></p>
            </form>
          </div>
          <div class="card-footer text-muted text-center">
            ¿Ya tienes cuenta? <a href="{% url 'login' %}">Iniciar sesión</a>
          </div>
          <div class="card-footer text-muted text-center">
            Tienes una fundación de animales? <a href="{% url 'register' %}">Regístrate</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}